.body {
    font-family: 'Open Sans', sans-serif;
    width: 1352px;
    max-width: 1200px;
}

.box-content {
    height: 100vh;
    
    
}

.nav-bar {
    width: 100%;
    height: 70px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav-bar span {
    color: #08A6E4;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 32px;
    margin-left: 136px;


}

.menu {
    display: flex;
    justify-items: center;
    align-items: center;
}
.menu li {
    list-style: none;
}

.menu a {
    text-decoration: none;
    font-weight: Bold;
    font-size: 11px;
    margin-right: 95px;
    color: #000000;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 20px;
    border-bottom: 2px solid white;

}

.menu a:hover {
    border-bottom-color: #08A6E4;

}

/*DRUGI ELEMENT*/

.section_banner {
    height: 842px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

}

.banner-pic {
    background-image: url("../assets/Background.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 594px;
    box-sizing: border-box;
    background-position: center;


}

.banner-title{
    font-size: 49px;
    font-family: 'Raleway', sans-serif;
    line-height: 57px;
    padding-bottom: 20px;

}

.banner-text {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}


.big_btn {
    color: white;
    font: Bold 16px Open Sans;
    margin-top: 38px;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 157px;
    padding-right: 157px;
    background: #08A6E4 0% 0% no-repeat padding-box;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 40px;
    opacity: 1;
    text-decoration: none;
}



/* SEKCJA TRZECIA koła  */

.container_info{
    height: 531px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 107px;
}



.container_info_title {
    font-family: 'Raleway', sans-serif;
    color: #000000;
    opacity: 1;
    font-size: 36px;
    padding-top: 100px;
    padding-bottom: 100px;
    font-weight: normal;

}

.box_ranking{
    width: 70%;
    display: flex;
    justify-content: space-around;
    color: #A5A5A5; 
    align-items: center;

  
}
.box_ranking h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: black;
    padding-top: 150px;
    font-weight: normal;
    letter-spacing: 4px;
}

.box_ranking p{
    padding-top: 10px;
    text-align: center;
    
}
.box_ranking li{
    width: 95px;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: inherit;
    position: relative;
    margin-top: 30px;
}
.box_ranking li:nth-of-type(2) h3{
    margin-top: 30px;
}
.box_ranking li span{
    align-self: flex-end;
}

.box_ranking li::before{
    content: "";
    height: 62px;
    width: 62px;
    border-radius: 50%;
    background: #FB3B64;
    position: absolute;
}
.box_ranking li:nth-of-type(2)::before{
    background: #08A6E4;
    
}
.box_ranking li:last-of-type::before{
    background: #55DFB4;   
}
.box_icon{
    position: absolute;
}





/* trzecia sekcja */

.content_boxes{
    width: 100%vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.content_box {
    height: 370px;
    width: 80%;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    margin-bottom: 37px;
}

.content_box_first_left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    

}
.content_box_first_left h2 {
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    padding-left: 35px;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
}

.content_box_first_left p {
    width: 60%;
    font-size: 16px;
    margin-left: 35px;    
}
.content_box_border{
    width: 50%;
    height: 3px;
    margin-left: 35px;
    background-color: #FB3B64;
    margin-top: 50px;
}

.content_box_first_right{
    width: 40%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
}

.right_icon{
    width: 40%;
    position: relative;
}
.right_icon img{
    width: 385px;
    height: 220px;
    box-sizing: content-box;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1; 
}
.right_icon::before{
    content: "";
    height: 200px;
    width: 200px;
    border-radius: 41px;
    background: #FB3B64;
    transform: rotate(40deg);
    position: absolute;
    left: 200px;
    bottom: 50px;
    z-index: 0;    
}

/* Drugi box */

.box_second{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box_second_icon {
    box-sizing: content-box;
    background-size: cover;
    background-repeat: no-repeat; 
    position: relative;
}
.box_second_icon img{
    width: 430px;
    height: 330px;
    position: relative;
    z-index: 1; 
}

.box_second_icon::before{
    content: "";
    height: 310px;
    width: 310px;
    border-radius: 50%;
    background: #08A6E4;
    position: absolute;
    bottom: 25px;
    z-index: 0; 
}

.box_second_text{
    margin-right: 2%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.box_second_text h2{
    width: 50%;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: normal;
}
.box_second_border{
    background-color: #08A6E4;
    margin: 0px;
}

/* OSTATNI BOX 2 osobne elementy */

.content_box_third{
    height: 370px;
    width: 80%;
    margin-bottom: 37px;
    display: flex;
    justify-content: space-around;
}

.text_box {
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    opacity: 1;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin-right: 60px;
}

.text_box h2{
    width: 60%;
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    padding-left: 30px;
    padding-bottom: 20px;
}
.text_box p{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    padding-left: 30px;
}

.box_third_border{
    background-color: #55DFB4;
}

.picture_box{
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    opacity: 1;
    width: 40%;
    background-color: #55DFB4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    
    
}

.trumpet{
    background-image: url("../assets/Trumpet.png");
    width: 300px;
    height: 200px;
    box-sizing: content-box;
    background-size: cover;
    background-repeat: no-repeat;
    
}

/*---- SEKCJA CENY ------*/

.pricing_box{
    width: 70%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}
.pricing_box h3{
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 40px;
}


.type_of_version{
    margin-top: 40px;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}
.type_of_version h4{  
    font-size: 21px;
}
.type_of_version p:first-of-type{
    font-size: 46px;
}

.type_of_version ul{
    margin-top: 30px;
    list-style: square;
    font-size: 14px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.type_of_version li{
    padding-bottom: 20px;
}
.type_of_version img{
    padding-right: 10px;
}

.basic{
    height: 461px;
    width: 35%;
    border: 1px solid #FB3B64;
    border-radius: 18px;
    box-shadow: 5px 10px 27px #07ACE629;
    opacity: 1;
    padding: 50px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.basic p{
    color: #FB3B64;
}

.professional{
    width: 40%;
    height: 500px;
    padding: 50px;
    border: 1px solid #08A6E4;
    box-shadow: 5px 10px 27px #07ACE629;
    opacity: 1;
    border-radius: 18px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.professional p:nth-of-type(2){
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: bold;
}
.professional p:first-of-type{
    color: #08A6E4;
    
}

.premium {
    height: 461px;
    width: 35%;
    padding: 50px;
    border: 1px solid #55DFB4;
    box-shadow: 5px 10px 27px #07ACE629;
    opacity: 1;
    border-radius: 18px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.premium p:nth-of-type(2){
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: bold;
}
.premium p:first-of-type{
    color: #55DFB4;
}

/* ---3 batony  ---*/

.pricing_box_btn {
    width: 150px;
    height: 50px;
    background: #55DFB4 0% 0% no-repeat padding-box;
    border-radius: 23px;
    position: absolute;
    font-size: 13px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

}
.basic a {
    top:95%;
    background-color:#FB3B64;
}
.professional a {
    background-color: #08A6E4;
    top:95%;
}
.premium a {
    top:95%;
}


/* ---------Kalkulator------ */

.calculator{
    margin-top:70px;
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.form_section_calculator{
    margin-top: 4%;
    width: 80%;
    display: flex;
    justify-content: space-around;
}
.form_calculator{ 
    width: 40%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.form_calculator input {
    height: 40px;
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #08A6E429;
    border: 1px solid #08A6E4;
    border-radius: 6px;
    opacity: 1;
    margin-bottom: 4%;
    padding-left: 20px;    
}
.form_calculator [type='checkbox']{
    margin-top: 15px;
    width: 10px;
    height: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.4);
    outline: none;
    position: relative;
    border:1px solid #707070;
}
.form_calculator input:checked::after{
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../assets/Checkmark.svg");
    box-sizing: content-box;
    background-size: cover;
    background-repeat: no-repeat;      
  }

  .box_paragraf {
    margin-top: 15px;
      display: flex;
      justify-content: space-around;
      
  }
  .box_paragraf p{
    font-size: 14px;
    color: #707070;
    padding-top: 15px; 
} 

.form_calculator select {
    width: 100%;
    height: 40px;
    overflow: hidden;
    background: url('../assets/arrow-circle.svg') no-repeat right;
    cursor: pointer;
    border: 1px solid #08A6E4;
    border-radius: 6px; 
    padding-left: 20px;
}
.form_calculator select:after{
    content: "f0ab";
    height: 20px;
    width: 20px;
}

.form_calculator select:hover{
    background-image: url("../assets/arrow-circle-up-solid.svg");
}

.choose_package {
    background: transparent;
    width: 268px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    border-radius: 6px;
    -webkit-appearance: none;
    color: #95989A;  
}

 /* ---------kalkulator prawa strona---------- */

.right_section_calculator{
    width: 40%;
    display: flex;
    flex-direction: column;
    visibility: hidden;
}
.right_section_calculator ul{
    width: 100%;
    list-style: none;
    font-family: 'Raleway', sans-serif;
    
    
}
.right_section_calculator li{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    height: 31px;
    background-color: #55DFB4;
    border-radius: 6px;
    margin-bottom: 6px;
    color: #FFFFFF;
    font-size: 14px;
    visibility: hidden;
    text-align: center;
    
    
}
.total_btn{
    margin-top: 5%;
    text-decoration: none;
    background-color: #08A6E4;
    border-radius: 6px;
    width: 10%;
    height: 40px;
    padding: 0px 80px 0px 80px;   
    color: #FFFFFF;
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    align-items: center;
    visibility: visible;
    
}
.total_sum{
    font-weight: bold;
    font-size: 18px;
}

/* ---------Formularz Questions------ */

.form_section_question{
    margin-top: 8%;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 60px;
}
.question_sector{
    width: 50%;
    justify-content: center;
    margin-bottom: 20%;
}
.question_sector h4{
    font-size: 49px;
    font-weight: normal;
    padding-bottom: 30px;
}

.question_sector p{
    font-size: 16px;
    font-weight: normal;     
}
.question_sector ul{
    display: flex;
    list-style: none;
    padding-top: 20px;
}
.question_sector li{
    padding-right: 20px;
    display: flex;
    padding-top: 15px;
    color: #A5A5A5;   
    padding-top: 20px;
}

.form_name_and_email{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    
}

.form_name_and_email p{
    font-size: 11px;
    color: #08A6E4;
    font-weight: bold;
    margin: 10px 0px 10px 0px;
    padding-bottom: 30px;
    
}

.form_name_and_email input{
    border: none;
    border-bottom: 1px solid #95989A;
    width: 90%;
}

.form_name_and_email input[type='checkbox']{
    margin-top: 34px;
    width: 24px;
    height: 24px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.4);
    outline: none;
    position: relative;
}
.form_name_and_email input:last-of-type:checked::after{
        content: "";
        width: 16px;
        height: 16px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-image: url("../assets/Checkmark.svg");
        box-sizing: content-box;
        background-size: cover;
        background-repeat: no-repeat;      
      }
.form_name_and_email div{
    display: flex;
}
      .form_name_and_email div p:last-of-type{
        width: 80%;
        margin-top: 30px;
        margin-left: 10px;
        font-size: 12px;
        color: #707070;
        align-self: flex-end;
        font-weight: normal;
        
    }

.send_btn{
    width: 226px;
    height: 57px;
    background-color: #08A6E4;
    border-radius: 35px;
    text-decoration: none;
    color: #FFFFFF;
    box-shadow: 5px 10px 14px #07ACE629;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-right:60px
}

/*-------- STOPKA ------------*/
.footer{
    margin-top: 60px;
    width: 100%vw;
    
    box-shadow: 0px -5px 40px #00000029;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.footer_left{
    padding: 40px;

}
.footer_left p{
    font-size: 11px;
    color: #A5A5A5;

}

.footer_logo{
    color: #08A6E4;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 26px;           
}

.footer_right{
    display: flex;
    align-items: flex-start;
}

.footer_right a {
    margin-right: 30px;
    padding: 30px;

}



