$mobile: "(max-width:1000px)";

@media #{$mobile} {
      body{
            width: 100%;           
      }   
}
@media #{$mobile} {
      .nav-bar{
            flex-direction: column;
            height: 70px;
                  .nav-bar-logo{
                        display: flex;
                        padding-bottom: 20px;
                        padding-top: 20px;
                        width: 100%;
                        align-items: center;
                        justify-content: space-around;
                        
                  
                        span{
                              padding-left: 20px;    
                              padding-right:50px;                         
                        }
                        .menu_hamburger{
                              width: 20px;
                              height: 15px;
                              box-sizing: border-box;
                              background-size: contain;
                              background-repeat: no-repeat;
                              color: #08A6E4;
                              z-index: 2;
                              
                           .fa-bars{
                                 display: block;
                           }   
                        }
                  }
      }
            .menu{
                  visibility: hidden;
                  font-family: Open Sans;
                  align-items: flex-start;
                  padding: 10px;
                  background-color: #FFFFFF;
                  width: 100%;
                  flex-direction: column;
                  box-shadow: 0px 3px 6px #00000029;
                  z-index: 2;
                              li{
                                    padding: 5px;
                                    cursor:pointer; 
                                    a{
                                    color: #A5A5A5;
                                    border-bottom: 0px;
                                    
                                    &:hover{
                                          color: black;   
                                          }
                                     }
                              }                             
                  }
}
      


@media #{$mobile} {
      .section_banner{
            padding-top: 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h1{
                  font-size: 35px;
                  font-weight: normal;
                  }
            .banner-text{
                  width: 310px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  text-align: center;
                  
            }
            .big_btn{
                  width: 80%;
                  height: 67px;
                  padding: 0;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  text-align: center;
            }
            .banner-pic{
            height: 267px;
            background-size: cover;
            box-sizing: content-box;

            }
      }
}

@media #{$mobile} {
      .container_info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding-bottom: 150px;
            margin-bottom: 50px;
            h2{
                  font-size: 30px;
                  padding-bottom: 30px;
            }
            .box_ranking{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            li{
                  margin-bottom: 30px;
                  }
            }
      }

}

@media #{$mobile} {
      .content_boxes{
            margin-top: 45px;
            
            
            .content_box_first{
                  flex-direction: column-reverse;
                  justify-content: center;
                  align-items: center;
                  margin-bottom:20px;
                  height: 90%;
                  .content_box_first_left{
                        padding-bottom: 10px;
                        width: 100%;
                        height: 250px;
                        font-size: 14px;
                        h2{
                              padding-bottom: 40px;
                              font-size: 30px;
                              width: 100%;
                        }
                        .content_box_border{
                              height: 0px;
                        }
                  }
                  .content_box_first_right{
                        width: 200px;
                        height: 150px;
                        justify-content: center;
                        align-items: center;
                        padding-top:30px;

                        .right_icon img{
                              width: 200px;
                              height: 100px;  
                              background-size: cover;
                              
                         }
                         .right_icon::before{
                              width: 100px;
                              height: 90px;
                              left: 110px;
                              bottom: 50px;
                        }
                  }
            }
      }
}

@media #{$mobile} {
      .content_box_second{
            flex-direction: column;
            height: 90%;
            justify-content: center;
            align-items: center;
            padding-bottom: 50px;
            margin-bottom:20px;
            .box_second{
                  justify-content: center;
                  align-items: center;
                  padding-top: 0px;
                  .box_second_icon{
                  justify-content: center;
                  align-items: center;
                  width: 100%;
                  &::before{
                        height: 135px;
                        width: 135px;
                  }
                  img{
                        width: 200px;
                        height: 150px;
                  }  
            }
      }
            .box_second_text{
                  width: 100%;
                  height: 250px;
                  font-size: 14px;
                  padding-left: 30px;
                  h2{
                        font-size: 30px;
                        width: 100%;
                        padding-bottom: 30px;
                        font-size: 30px;
                  }
                  p{
                       width: 90%; 
                       font-size: 14px;
                        
                  }
                  .box_second_border{
                        height: 0px;
                  }
            }
            

      }
}

@media #{$mobile} {
 .content_box_third {
      height: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top:50px;
      
      .text_box{
            padding-top: 20px;
            width: 100%;
            margin-right: 0px;
            h2{
                  font-size: 30px;
                  width: 100%;
            }
            .box_third_border{
                  height: 0px;
                  margin-top: 0px;
            }
      }
      .picture_box{
            padding: 20px;
            width: 100%;
            max-height: 200px;
            margin-left: 0px;
            .trumpet{
                  background-size: contain;
                  margin-top:50px;

                  }
            }
      }
}

@media #{$mobile}{
      .pricing_box{
            width: 100%;
            h3{
                  margin-bottom: 0px;
            }
      .type_of_version{
            flex-direction: column;
            margin-top: 0px;
            
            .basic{
                  width: 22%;
                  height: 15%;
                  padding: 0px;
                  margin-bottom: 40px;
                  margin-right: 0px;
                  flex-direction: row;
                  align-items: center;
                  justify-content: space-around;
                  padding-bottom: 20px;
                  h4{
                        font-size: 20px;
                       
                  }
                  ul{
                        align-items: flex-start;
                  }
                  .pricing_box_btn {
                        top: 90%;    
                  }
            }
            .professional{
                  width: 25%;
                  height: 20%;
                  flex-direction: row;
                  padding: 0px;
                  align-items: center;
                  justify-content: space-around;
                  margin-bottom: 40px;
                  padding-bottom: 20px;
                  h4{
                        font-size: 20px;
                  }
                  ul{
                        align-items: flex-start;
                  }
                  .pricing_box_btn {
                        top: 90%;    
                  }
            }
      }
            .premium{
                  width: 22%;
                  height: 15%;
                  flex-direction: row;
                  padding: 0px;
                  align-items: center;
                  justify-content: space-around;
                  margin-bottom: 40px;
                  margin-left: 0px;
                  padding-bottom: 20px;
                  h4{
                        font-size: 20px;
                  }
                  ul{
                        align-items: flex-start;
                  }
                  .pricing_box_btn {
                        top: 90%;    
                  }
            }     
      }
}

@media #{$mobile}{
      .form_section_question{
            flex-direction: column;
            .question_sector{
                  padding-bottom: 0px;
                  width: 80%;
                  h4{
                        font-size: 40px;

                  }
                  ul{
                        flex-direction: column;
                  }
            }
            .form_name_and_email{
                  width: 80%;
                  margin-left: 0%;
                  input{
                        width:95%
                  }
                  a{
                        margin-right: 0px;
                  }
                  div{
                        input [type='checkbox']{
                              width: 10px;
                              height: 10px;
                        }
                  }
            }
      }
}

@media #{$mobile}{
      .footer{
      .footer_left{
            padding: 10px;
            }
            .footer_right{
                  
                  a{
                        margin-right: 0px;
                        padding: 10px;
                  }
            }
      } 
}

